@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('inicio-halyson.css');
@import url('sobre-halyson.css');
@import url('contatos-halyson.css');
@import url('projetos-halyson.css');
@import url('skils-halyson.css');
@import url('rodape-halyson.css');
@import url('menu-halyson.css');

:root {
    --color-branca-halyson: #ffffff;
    --color-preta-halyson: #000000;

    --color-fundo-halyson: #FDF9EF;

    --color-vermelha-halyson: #8B0000;
    --color-vermelha-2-halyson: #ff0000;
    --color-azul-halyson: #003CFF;
    --color-verde-halyson: #00FF55;
}

.corpo-halyson {
    width: 100%;
    max-height: 100%;
    background-color: var(--color-fundo-halyson);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-halyson {
    width: 100%;
    height: auto;
}

.text-halyson {
    font-size: 1.5rem;
}

.tittle-halyson {
    font-size: 2rem;
    font-weight: bold;
}

.tittle-h4-halyson {
    font-size: 1.8rem;
    color: var(--color-branca-halyson);
}